<!DOCTYPE html>
<html>
  <head>
    <title>Microposter App | <%= @title %></title>
  </head>

  <body>
    <h1>Sample App</h1>
    <p>
      This is the new contact page. Source code is available at <a href="http://github.com/rayhightower">GitHub</a>.
    </p>
  </body>
</html>
