<!DOCTYPE html>
<html>
  <head>
    <title>Microposter App | <%= @title %></title>
  </head>

  <body>
    <h1>Sample App</h1>
    <p>
  Get help on Ruby on Rails Tutorial at the 
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.

      This is the new Help page. Source code is available at <a href="http://github.com/rayhightower">GitHub</a>.
</p>
    </p>
  </body>
</html>

