<!DOCTYPE html>
<html>
  <head>
    <title>Microposter App | <%= @title %></title>
  </head>

  <body>
    <h1>Microposter App</h1>
    <p>
      This is the root page for the Microposter App. 
    </p>
  </body>
</html>
